#mapdiv {
    height: 1200px;
    width: 1800px;
    background-image: url('/resources/hex.png');
    background-repeat: no-repeat;
}

.mapcontrols {
    position: absolute;
    width: 35px;
    height: 65px;
    right: 30px;
    bottom: 5px;
    background-image: url('/resources/arrows.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}

.up {
    position: absolute;
    top: 0;
    height: 32px;
    width: 100%;
}

.down {
    position: absolute;
    bottom: 0;
    height: 32px;
    width: 100%;
}



    .dot {
        position: absolute;
        z-index: 5;
    }


     span {
        position: absolute;
        background-color: black;

    }

    #LI_1 {
        width: 35px;
        height: 35px;
        background-image: url('circle.png');
        background-size: contain;
        background-color: rgba(0, 0, 0, 0);

    }

    #LI_2 {
        width: 13px;
        height: 13px;


    }

        #LI_3 {
        width: 18px;
        height: 18px;

 
    }

.map-panel {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#mapcontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.otherbox {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.canvastest {
    height: 400px;
  }
