#mapdiv {
    height: 2200px;
    width: 1800px;
    background-image: url('/resources/hex.png');
    background-size: contain;
    background-repeat: no-repeat;
}

    area {
        z-index: 2;
    }

    .dot {
        position: absolute;
        z-index: 5;
    }


     span {
        position: absolute;
        background-color: black;

    }

    #LI_1 {
        width: 15px;
        height: 15px;
        background-image: url('circle.png');
        background-size: contain;
        background-color: rgba(0, 0, 0, 0);

    }

    #LI_2 {
        width: 13px;
        height: 13px;


    }

        #LI_3 {
        width: 18px;
        height: 18px;

 
    }

.map-panel {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
