body {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/resources/backgroundmap.jpg')
}

.index-gym {
    height: 100%;
    width: 100%;
    background-color: rgba(35, 46, 39, 0.856);
}

.playnav {
    height: 50px !important;
}

.board {
    background-color:rgba(255, 0, 0, 0.808);
}

.row {
    margin: 20px !important;
}

.panel {
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
    height: 100% !important;
}

.firstrow {
    height: 360px !important;
}

.panel-footer {
    position: relative !important;
    bottom: 0 !important;
    width: 100%;
}

.secondrow {
    height: 290px !important;
    margin-bottom: 0px !important;
}

.panel-heading {
    position: relative !important;
    height: 45px !important;
    padding: 0;
}

.panelnav-item {
    height: 38px !important;
    font-size: 0.8 em;
}

.other-user {
    display: inline!important;
    margin: 0 !important;
    padding: 0 !important;
    float: left !important;
}

.self-user {
    display: inline!important;
    margin: 0 !important;
    padding: 0 !important;
    float: left !important;
}

.panel-video {

    padding: 0!important;
}

.join-leave-input {
    height: 100%;
    position: relative;
    width: 100%;
}

.join-leave-input-field {
display: inline;
vertical-align: middle;

}

.join-leave-button {
    height: 80%;
    position: relative;
    vertical-align: middle;
}



.navbar {
    background-color: rgba(0, 0, 0, 0.568);
    border: none;
}

.dropdown {
    background-color: rgba(128, 128, 128, 0);
    color: white;
}

i {
    color: white;
}

.panel {
    background-color: rgba(0, 0, 0, 0.664);
}

.chatpaneltext {
    background-color: black;
}


