body {
    overflow:hidden;
}

.boardrow {
    height: 50vh;
    margin-top:5vh;
    margin-bottom:5vh;

}

.index-gym {
    height: 100%;
    width: 100%;
    background-color: rgba(35, 46, 39, 0.4);
}

.board {
    background-color:red;
}

.chatdicediv {
    height:30vh;
}

.videodiv {
    background-color:blue;
}

.chat {
    background-color: white;
    padding: 25px;
}


.dice {
    background-color: black;
}

#chat {
  
    width: 100%;
    height: 100%;
    /* Visual */
    padding: 10px;
  }

  #chat-messages {
    /* Box-model */
    height: 80%;
    width: 80%;
    overflow: auto;
  
    /* Visual */
    background-color: #fffcf7;
  }

  #chat-bar {
    /* Positioning */
    position: absolute;
    bottom: 10px;
  }
  
  #chat-input {
    /* Box-model */
    width: 100%;
  }
  
  #chat-send {
    /* Box-model */
    width: 40px;
  }