body {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.index-gym {
    height: 100%;
    width: 100%;
    background-color: rgba(35, 46, 39, 0.856);
}

.playnav {
    height: 50px !important;
}

.board {
    background-color:rgba(255, 0, 0, 0.808);
}

.row {
    margin: 20px !important;
}

.panel {
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
    height: 100% !important;
}

.firstrow {
    height: 360px !important;
}

.panel-footer {
    position: relative !important;
    bottom: 0 !important;
    width: 100%;
}

.secondrow {
    height: 290px !important;
    margin-bottom: 0px !important;
}

.panel-heading {
    position: relative !important;
    height: 40px !important;
    padding: 0;
}

.panelnav-item {
    height: 38px !important;
    font-size: 0.8 em;
}

.video-container {
    height: 120px !important;
    width: 200px !important;
}